body{display: flex;
flex-direction: column;margin: 0;}

.header{display: flex;
    justify-content: space-between;
    background-color: #1f2937 ;
    align-items: center;
    padding: 10px 100px;font-size: 18px;}
    .logo{width: 30px;height: 30px;}
    a{color: #e5e7eb;text-decoration: none;padding: 0 10px;}

.header2{display: flex;
    background-color: #1f2937 ;padding: 50px 100px;justify-content: flex-start;align-items: center;}
    .header2 h1{font-size: 48px;font-weight: 1000;color: #f9faf8;}
    .header2 p{color: #f9faf8;}
    .dragon{width: 200px;height: 300px;}

.random{display: flex;
flex-direction: column;justify-content: center;align-items: center;}
    .random h1{font-size: 36px; font-weight: 1000;color: #1f2937;}
    .random img{height:50px;width: 50px;border: 5px solid #3882f6;border-radius: 5px;}
    .prandom{display: flex;}
    .prandom .prandomimg{display: flex;flex-direction: column;align-items: center;justify-content: center;text-align: center;} 

.quote{display: flex;flex-direction: column;
background-color:#e5e7eb;justify-content:center;align-items: center;padding: 20px;}
    .quote p{color: #1f2937;font-size: 36px;font-style: italic;}
    .quote .goku{font-weight: 1000;align-self: center}

.call{display: flex; padding: 100px;background-color: #f9faf8;align-items: center;justify-content: center;}
.callto{padding:10px; flex;background-color: #3882f6;border-radius: 5px;display: flex;
flex: 1 1 auto;align-self: center;color: #f9faf8;gap: 100px;}
.action{font-weight: 700;}
.signup{border: 2px solid #f9faf8;height: 50px;align-self: center;width: 100px;color: #f9faf8;}

.footer{display: flex;background-color: #1f2937;justify-content: center;}

button{background-color: #3882f6;border: #3882f6;border-radius: 5px;}